<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h2 class="center">品項 No. {{item.wine_id}} <a href="{{ item.product_article_link }}"
            target="_blank">{{item.name}}</a> 訂單</h2>
    <br>
    <br>
    <table class="center">
        <tr>
            <th>Pic</th>
            <th>用戶名稱</th>
            <th>數量</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td><img src="https://graph.facebook.com/{{order.member.fbid}}/picture?type=square" alt="" srcset=""></td>
            <td>
                <a href="{{order.member.user_profile_url}}" target="_blank">
                    {{ order.member.name }}
                </a>
            </td>
            <td>
                <a href="/admin/fbCrawler/orders/{{order.id}}/change" target="_blank">
                    {{ order.amount }}
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>

<style>
    body {
        text-align: center;
    }

    .center {
        text-align: center;
        margin: auto;
    }

    table {
        border-collapse: collapse;
        border: 2px solid black;
        border-collapse: collapse;
    }

    table,
    table tr th,
    table tr td {
        border: 2px solid black;
    }

    td {
        padding: 5px 10px;
        min-width: 200px;
    }
</style>

</html>